body {
	font-family: 'Roboto', sans-serif;
	background-color: #B6FCE6;
}

body {
			opacity: 1;
			transition: 1s opacity;
		}
		
		body.fade-out {
			opacity: 0;
			transition: none;
		}

section {
	text-align: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

nav a {
	float: left;
	font-size: 2.5rem;
	border-bottom: 4px solid #ED2875;
	text-decoration: none;
}

nav a:hover {}

nav a:active {}

nav a:visited {}

nav a:nth-child(2) {
	float: right;
}

video {
	width: 100%;
	max-width: 800px;
	background-color: aliceblue;
	margin-top: 25%;
	margin-left: 50%;
	transform: translateX(-50%) translateY(-50%);
}